
form .ng-invalid.ng-touched{
    background-color: #ffe7e7;
    border-color:#e66262;
}
.title{
    color: #1c846d;
    padding-right:8px;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: small;
}