<form class="donut-form" #form="ngForm" (ngSubmit)="handleSubmit(form)">
  <div class="form-item">
    <div class="title">Name:</div>
    <input
      type="text"
      name="name"
      required
      minlength="5"
      class="input bg-slate-200 "
      [ngModel]="donut.name"
      #name="ngModel"
    />
    <ng-container *ngIf="name.invalid && name.touched">
      <p class="text-red-600 text-xs" *ngIf="name?.errors?.['required']">
        name is required
      </p>
      <p class="text-red-600 text-xs" *ngIf="name?.errors?.['minlength']">
        name should be more than 5 character
      </p>
    </ng-container>
  </div>
  <div class="form-item">
    <div class="title">Icon:</div>
    <select
      class="bg-slate-200"
      name="icon"
      required
      [ngModel]="donut.icon"
      #icon="ngModel"
    >
      <option *ngFor="let icon of icons"
              [ngValue]="icon | uppercase">
        {{ icon }}
      </option>
    </select>
    <ng-container *ngIf="icon.invalid && icon.touched">
      <p class="text-red-600 text-xs" *ngIf="icon?.errors?.['required']">
        icon is required
      </p>
    </ng-container>
  </div>
  <div class="form-item">
    <div class="title">Price:</div>
    <input
      type="number"
      required
      name="price"
      class="input bg-slate-200"
      [ngModel]="donut.price"
      #price="ngModel"
    />
    <ng-container *ngIf="price.invalid && price.touched">
      <p class="text-red-600 text-xs" *ngIf="price?.errors?.['required']">
        price is required
      </p>
    </ng-container>
  </div>
  <div class="form-item flex my-2">
    <div class="title">promo:</div>
    <div class="flex px-2">
      <input
        type="radio"
        class="bg-slate-200"
        name="promo"
        [value]="undefined"
        [ngModel]="donut.promo"
      />
      <p class="ml-0.5">None</p>
    </div>
    <div class="flex px-2">
      <input
        class="bg-slate-200"
        type="radio"
        name="promo"
        value="new"
        [ngModel]="donut.promo"
      />
      <p class="ml-0.5">New</p>
    </div>
    <div class="flex px-2">
      <input
        class="bg-slate-200"
        type="radio"
        name="promo"
        value="limited"
        [ngModel]="donut.promo"
      />
      <p class="ml-0.5">Limited</p>
    </div>
  </div>
  <div class="form-item">
    <div class="title">Descroption:</div>
    <textarea
      class="bg-slate-200"
      name="description"
      required
      [ngModel]="donut.description"
      #description="ngModel"
    ></textarea>
    <ng-container *ngIf="description.invalid && description.touched">
      <p class="text-red-600 text-xs" *ngIf="description?.errors?.['required']">
        description is required
      </p>
    </ng-container>
  </div>
  <button
    type="submit"
    class="border-none text-emerald-50 mt-5 px-8 rounded-md py-1 bg-green-800"
  >
    add
  </button>
  <div class="text-sm text-blue-950" *ngIf="form.valid && form.submitted">
    Working ....
  </div>
  <button
    type="button"
    class="border-none mx-3 px-8 rounded-md py-1 bg-gray-200"
    (click)="form.resetForm()"
  >
    reset form
  </button>
  <pre>
    {{ donut | json }}
    {{ form.form.value | json }}

</pre
  >
  <!-- [disabled]="form.invalid" -->
</form>
